<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find monolithic_pr2_planner_node)/maps/freezer.yaml" />
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node"
        args="$(find monolithic_pr2_planner_node)/maps/freezer.bt">
    <param name="resolution" value="0.025" />
    <param name="sensor_model/range" value="4.0" />

    <param name="sensor_model/hit" value= "0.8" />
    <param name="sensor_model/miss" value= "0.31" />
    <param name="sensor_model/min" value= "0.12" />
    <param name="sensor_model/max" value= "0.95" />

    <param name="min_z_range" value="0.05" />
    <param name="max_z_range" value="1.8" />
    <param name="min_x_size" value="25.0" />
    <param name="min_y_size" value="25.0" />

    <param name="pointcloud_min_z" value="0.10"/>
    <param name="pointcloud_max_z" value="1.80"/>
    <param name="filter_ground" value="true"/>
    <param name="occupancy_min_z" value="0.05"/>
    <param name="occupancy_max_z" value="2.0"/>

  </node>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2.urdf.xacro'" />
    <node pkg="monolithic_pr2_planner_node" type="testExecute" name="testExecute" output="screen">
        <rosparam command="load" file="$(find monolithic_pr2_planner_node)/config/logging_levels.yaml" />
        <rosparam command="load" file="$(find monolithic_pr2_planner)/config/pr2_both_arms.yaml" />
        <rosparam command="load" file="$(find pr2_collision_checker)/config/pr2_body.yaml" />
        <param name="planner/motion_primitive_file" value="$(find monolithic_pr2_planner)/config/pr2-32.mprim"/>
        <param name="planner/base_motion_primitive_file" value="$(find monolithic_pr2_planner)/config/full_body_base.mprim" />
        <param name="planner/left_arm_description_file" value="$(find monolithic_pr2_planner)/config/pr2_left_arm.cfg" />
        <param name="planner/right_arm_description_file" value="$(find monolithic_pr2_planner)/config/pr2_right_arm.cfg" />
    </node>



</launch>
